body {
	padding-top: 103px;
	font-family: 'quicksandregular';
}

/* Disable responsive for now */
.carousel, .row {
	min-width: 1280px;
}

.navbar {
	font-family: 'quicksandbold';	
}
.navbar .navbar-brand img {
	height: 70px;
}
.navbar .navbar-brand span {
	color: black;
	text-transform: uppercase;
	vertical-align: bottom;
}

.navbar li>a {
	padding-top: 66px;
	padding-bottom: 5px;
	margin-bottom: 10px;

	padding-left: 0;
	padding-right: 0;
	margin-left: 15px;
	margin-right: 15px;

	color: black;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background: transparent;
	
	border-bottom-color: black;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}


/* Override carousel text defaults (screen only) */
@media screen and (min-width: 768px) {
	.carousel-caption-right {
		top: 0%;
		left: 50%;
		right: 10%;
	}
}

.image-full-width {
	width:75%;
}

.image-full-width-2 {
	width:100%;
}

.image-width {
	width:90%;
}

.carousel-inner > .item > img.move-image-up {
	top: 70px;
}

.carousel-control {
	background-image: none !important;
}

.carousel-caption {
	text-align:left;
	text-shadow: none;
}
	
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	color: black !important;
}
 

@media only screen and (min-width:100px){
	.col-md-8{
		width: 50%;
		padding-left: 110px;
	}
}
@media only screen and (min-width:100px){
	.col-md-4{
		height: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media only screen and (min-width:100px){
	.col-md-5{
		width: 25%;
		padding-left: 120px;
		padding-right: 30px;
	}
}

@media only screen and (min-width:100px){
	.col-md-12{
		padding-left: 120px;
		padding-right: 100px;
	}
}




.lead {
	font-size: 1.8rem;
}

.small-font {
	font-size: 1.5rem;
}

.btn-wrap {
	white-space:normal !important;
}


@media screen and (max-width: 1200px) {	
	.navbar .navbar-brand span {
		display: none;
		}
	.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
		margin-right: -15px;
		margin-left: -15px;
		height: 95px;
		}
}


@media screen and (max-width: 991px) {	
	.carousel {display: none;}
	.navbar .navbar-brand span {
		color: black;
		text-transform: uppercase;
		vertical-align: bottom;
	}
	.image-full-width {
		width: 45%;
		padding-left: 110px;
	}
}

